ColumnLimit: 90
UseTab: Never

RequiresClausePosition: OwnLine

BraceWrapping:
  AfterClass: false
  AfterEnum: false
  AfterFunction: false
  
IndentWidth: 4
AccessModifierOffset: -4
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentRequiresClause: true

SpaceAfterTemplateKeyword: false

AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: All

PointerAlignment: Left
ReferenceAlignment: Pointer