Checks: 'modernize-*, -modernize-use-trailing-return-type,
cppcoreguidelines-avoid-goto, cppcoreguidelines-init-variables,
cppcoreguidelines-no-malloc, cppcoreguidelines-missing-std-forward, 
cppcoreguidelines-rvalue-reference-param-not-moved, cppcoreguidelines-slicing,
cppcoreguidelines-virtual-class-destructor,

bugprone-argument-comment, bugprone-assert-side-effect,
bugprone-inaccurate-erase, bugprone-infinite-loop,
bugprone-string-constructor, bugprone-string-integer-assignment,
bugprone-string-literal-with-embedded-nul, bugprone-stringview-nullptr,
bugprone-suspicious-*, bugprone-swapped-arguments,
bugprone-terminating-continue, bugprone-throw-keyword-missing,
bugprone-too-small-loop-variable, bugprone-undefined-memory-manipulation,
bugprone-undelegated-constructor, bugprone-unsafe-functions,
bugprone-use-after-move,

misc-*, -misc-no-recursion,
-misc-non-private-member-variables-in-classes, 

performance-avoid-endl, performance-faster-string-find,
performance-for-range-copy, performance-implict-convertion-in-loop,
performance-inefficient-*, performance-move-const-arg,
performance-no-automatic-move, performance-noexcept-*,
performance-trivially-destructible, performance-type-promotion-in-math-fn,
performance-unnecessary-*,

readability-identifier-naming'
CheckOptions:
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-nameing.StructCase: 'CamelCase'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.EnumPrefix: 'E'
  readability-identifier-naming.FunctionCase: 'lower_case'
  readability-identifier-naming.PrivateMemberPrefix: 'm_'
  

